<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iMusic: {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">iMusic</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="/" class="nav-link {% if active_page == 'index' %}active{% endif %}" aria-current="{% if active_page == 'index' %}page{% endif %}">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="/upload/" class="nav-link {% if active_page == 'upload' %}active{% endif %}" aria-current="{% if active_page == 'upload' %}page{% endif %}">
                    Upload
                </a>
            </li>
            <li class="nav-item">
                <a href="/statistics/" class="nav-link {% if active_page == 'statistics' %}active{% endif %}" aria-current="{% if active_page == 'statistics' %}page{% endif %}">
                    Statistics
                </a>
            </li>
            <li class="nav-item">
                <a href="/invoice/" class="nav-link {% if active_page == 'invoice' %}active{% endif %}" aria-current="{% if active_page == 'invoice' %}page{% endif %}">
                    Invoice
                </a>
            </li>
        </ul>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    <footer class="py-3 my-4">
        <p class="text-center text-muted border-top">&copy; 2024 iMusic, Inc</p>
    </footer>
</div>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>